@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}

header {
    background-color: #d8cfcf;
    padding: 1rem 0;
}

main {
    h1 {
        font-size: 2rem;
        color: var(--text);
        
    }
    #container {
        width: 90%;
        max-width: 1100px;
        padding: 2rem 0;
        margin: 0 auto;
        flex-direction: column;
        gap: 2rem;

        @include desktop {
            flex-direction: row;
        }

        .game-board-wrapper {

            h2 {
                color: var(--text);
                margin-bottom: 2rem;
            }

            table {

                &[data-player="Player"] {
                    tr {
                        td {
                            &.ship {
                                background-color: var(--ship-cell);
                                color: var(--background);
                            }
                        }
                    }
                }
            
                tr {
                    td {
                        width: 2rem;
                        height: 2rem;
                        background-color: var(--text);
                        color: var(--background);
                        text-align: center;
                        border: 1px solid var(--text);
                        cursor: pointer;

                        &.hit {
                            background-color: var(--ship-cell-hit) !important;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: var(--background-2);
    padding: 1rem 0;
    color: var(--text);
}